<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon"
        android:label="MyApplication"
        android:supportsRtl="true"
        android:theme="@style/Theme.A1_703"
        tools:targetApi="31">
        <receiver
            android:name=".Widgets.NewsWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.a1_703.newClick" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/news_widget_info" />
        </receiver>
        <receiver
            android:name=".Widgets.MyTickets"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.a1_703.myticket_click_lg" />
                <action android:name="com.example.a1_703.next" />
                <action android:name="com.example.a1_703.pre" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_tickets_info" />
        </receiver>
        <receiver
            android:name=".Widgets.GoToMyTicketWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.a1_703.myticket_click" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/go_to_my_ticket_widget_info" />
        </receiver>

        <activity
            android:name=".AllTickets"
            android:exported="false" />
        <activity
            android:name=".TicketInfo"
            android:exported="false" />
        <activity
            android:name=".BuyTicket"
            android:exported="false" />
        <activity
            android:name=".NewNews"
            android:exported="false" />
        <activity
            android:name=".NewsInfoActivity"
            android:exported="false" />
        <activity
            android:name=".AllStarActivity"
            android:exported="false" />
        <activity
            android:name=".News"
            android:exported="false" />
        <activity
            android:name=".EditPassword"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".SkillsInfo"
            android:exported="false" />
        <activity
            android:name=".HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".RegActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".Widgets.NewsListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>